/* ----- RESET ----- */
* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

body, p, ul, ol, dl, textarea, input {
    font-family: 'LeagueGothic';
    font-size: 25px;
    position: relative;
    /*max-width: 1280px;*/
    /*min-width: 980px;*/
}

/* ----- FONTS ----- */
@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothic.otf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/ROBOTO-LIGHT.TTF');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/ROBOTO-MEDIUM.TTF');
}

.leaguegothic {
    font-family: 'LeagueGothic';
}
.robotolight {
    font-family: 'Roboto-Light';
}
.robotomedium {
    font-family: 'Roboto-Medium';
}


h2 {
    font-weight: normal;
    font-size: 24px;
    color: rgb(241, 107, 155);
    font-family: 'Roboto-Medium';
    margin: 55px 35px 0 35px;
}
h3 {
    font-size: 14px;
    color: rgb(124, 121, 122);
    text-transform: uppercase;
    font-family: 'Roboto-Light';
    margin: 5px 35px 15px 35px;
}
p {
    color: rgb(101, 101, 101);
    font-family: 'Roboto-Light';
    font-size: 14px;
    margin: 15px 35px;
}
/* ----- BLUEPRINT ----- */
/* container_width/#divisions - margin */
.xoblueprint {
    width: 950px;
    margin: 0 auto;
    overflow: auto;
}

.x1, .x2, .x3, .x4, .x5, .x6 {
    float: left;
    margin-right: 10px;
}

.last {
    margin-right: 0;
    clear: right;
}

.x1 {
    width: 150px;
}

.x2 {
    width: 310px;
}

.x3 {
    width: 470px;
}

.x4 {
    width: 630px;
}

.x5 {
    width: 790px;
}

.x6, .full {
    width: 950px;
    margin-right: 0;
}

/* ----- TEXT ----- */
.f0 {
    font-size: 15px;
}

.f1 {
    font-size: 25px;
}

.f2 {
    font-size: 50px;
}

.f3 {
    font-size: 100px;
}

.f4 {
    font-size: 150px;
}

.f5 {
    font-size: 200px;
}

body {
    overflow: auto;
}

.container {
    background: linear-gradient(
            #f6dcff,
            transparent
    ),
    linear-gradient(
            -90deg, #ffafe6,
            transparent
    ),
    linear-gradient(
            90deg, #ffe4cd,
            transparent
    );
    /*position: fixed;*/
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    background-color: hsl(61, 100%, 81%);

    -webkit-animation: hue 9s infinite alternate; /* Chrome, Safari, Opera */

}

@keyframes hue {
    /*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
    0% {
        background-color: hsl(82, 100%, 50%);
    }
    20% {
        background-color: hsl(82, 100%, 50%);
    }
    40% {
        background-color: hsl(144, 100%, 50%);
    }
    60% {
        background-color: hsl(216, 100%, 50%);
    }
    80% {
        background-color: hsl(288, 100%, 50%);
    }
    100% {
        background-color: hsl(360, 100%, 50%);
    }
}

@-webkit-keyframes hue {
    /*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
    0% {
        background-color: hsl(32, 100%, 50%);
    }
    20% {
        background-color: hsl(32, 100%, 50%);
    }
    30% {
        background-color: hsl(82, 100%, 50%);
    }
    40% {
        background-color: hsl(124, 100%, 50%);
    }
    50% {
        background-color: hsl(144, 100%, 50%);
    }
    60% {
        background-color: hsl(186, 100%, 50%);
    }
    70% {
        background-color: hsl(216, 100%, 50%);
    }
    80% {
        background-color: hsl(248, 100%, 50%);
    }
    90% {
        background-color: hsl(288, 100%, 50%);
    }
    95% {
        background-color: hsl(330, 100%, 50%);
    }
    100% {
        background-color: hsl(360, 100%, 50%);
    }
}

.noanchor:link, .noanchor:visited, .noanchor:active {
    text-decoration: none;
    color: white;
}

.lghtgrey {
    color: white;
}

.page {
    width: 100%;
    height: 100%;
}

#logo {
    left: 10px;
    top: 0px;
}

.jscode {
    background-color: white;
    font-family: "Courier New", Courier, monospace;
    width: 600px;
    margin-left: 40px;
    padding: 10 15 10 15;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5x 5px #888;
}

#titlebox {
    position: absolute;

    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 500px;
    margin-left: -325px;
    margin-top: -250px;

    text-align: center;
    font-family: arial;
    font-size: 17px;
}

#codebox {
    margin-top: 20px;
    background-color: white;
    font-family: "Courier New", Courier, monospace;
    width: 500px;
    height: 100px;
    margin-left: 40px;
    padding: 10 15 10 15;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5x 5px #888;
}

.dirText {
    color: white;
    font-size: 40px;
    margin-top: 45px;
    opacity: 0.0;
}

#para1 {
    top: 30%;
    left: 20%;
    width: 50px;
    height: 30px;
    background-color: white;
}

#para2 {
    top: 40%;
    left: 60%;
    width: 20px;
    height: 40px;
    background-color: yellow;
}

#para3 {
    top: 60%;
    left: 10%;
    width: 20px;
    height: 40px;
    background-color: white;
}

#para4 {
    top: 50%;
    right: 10%;
    width: 60px;
    height: 40px;
    background-color: darkblue;
}

.cPara {
    position: absolute;
}

.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

/* NAVIGATION */

#navBoxTop {
    top: 30px;

    width: 400px;
    left: 50%;
    margin-left: -200px;
}

#navBoxBot {
    bottom: 110px;
    width: 100%;
}
.nav {
    position: absolute;
    text-align: center;

}
.nav ul{
    list-style: none;
}

.nav li {
    display: inline-block;
    color: white;
    margin: 0 8px;
    font-size: 14px;
}

.nav li.active a{
    font-size: 30px;
}

.nav li:after {
    margin-left: 8px;
    content: "/";
}

.nav li:last-child:after {
    content: "";
    margin: 0;;
}

.nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* SOCIAL */
#social {
    position: absolute;
    width: 100%;
    bottom: 50px;
    padding: 8px 0 10px 0;

    text-align: center;
}
#social a {
    width: 37px;
    height: 37px;
    display: inline-block;
    box-shadow: none;
    border: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-decoration: none;

    margin: 0 5px;
    color: #fff !important;
}
.facebook-icon {
    background-image: url("../img/fb_icon.png");
}
/* FOOTER */
#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px 0 10px 0;

    font-size: 16px;
    text-align: center;
    color: white;
    
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* PAGE */
#container{
    /*position: relative;*/
    max-width: 1100px;
    min-width: 940px;
    width: 100%;
    margin: 100px auto 140px auto;
    padding-bottom: 30px;
}
.pageContainer{
padding-bottom: 15px;
}
.pink{
    background-color: rgba(253, 245, 249, 0.70);
}
.imgHeader{
    width: 100%;
    overflow: auto;
}
.imgHeader img{
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

/*
.shuffle__sizer {
    position: absolute;
    opacity: 0;
    width:33%;
    visibility: hidden;
}
@media (min-width: 75em){
    .row-fluid .span3 {
        width: 23.076923076923077%;
    }
}

    @media (min-width: 75em){
        .row-fluid [class*="span"] {
            display: block;
            width: 100%;
            min-height: 30px;
            box-sizing: border-box;
            float: left;
            margin-left: 2.564102564102564%;
        }
    }


.picture-item img {
    display: block;
    width: 100%;
    height: auto;
}
*/
#grid{
    overflow: hidden;
    min-height: 700px;
}
#grid .mix{
    display: none;
}
#grid .masked{
    width: 25%;
    float: left;
    margin-bottom: 2px;
    padding: 0;
    border: none;
    overflow: hidden;
    position: relative;
}
#grid .masked img{
    max-width:100%;
    max-height:100%;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: top;
}

/* gallery */
.filter-options{
    text-align: center;
}
.filter-options button{
    background: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 20px;
}
button.active{
    font-size: 18px;
}
.masked .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    overflow:visible;
    border:100px solid rgba(255, 255, 255, 0.90);
    box-sizing:border-box;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.masked a.info {
    position:relative;
    top:-10px; /* Center the link */
    opacity: 0;
    transition: opacity 0.5s 0s ease-in-out;
}

.masked:hover .mask {
    opacity: 1;
    border:100px solid rgba(255, 255, 255, 0.90);
}

.masked:hover a.info {
    opacity:1;
    transition-delay: 0.3s;
}
.masked .cross {
    background: url(../img/cross.png) center no-repeat;
    display: inline-block;
    padding: 0;
    width: 48px;
    height: 48px;
    top: -35px;
    transform: translateX(-145px);
    position: absolute;
    transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;
}
.masked:hover .cross{
    transform: translateX(-90px);
}
.masked .info{
    transform: translateY(30px);
    transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;
    width: 245px;
    position: absolute;
    left: -70px;
}
.masked .info h2{
    font-size:  22px;
}
.masked:hover .info{
    transform: translateY(-90px);
}

.back{
    position: absolute;
    background: url(../img/arrow.png) 0 center no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 30px;
    color: white;
    font-size: 14px;
    top: -22px;
}

.stl_bg{
    height: 100%;
    width: 30px;
    position: fixed;
    cursor: pointer;
    display: none;
}
.stl_bg:hover{
    background: rgba(239, 102, 102, 0.2);
}
.stl_bg.show{
    display: block;
}
.stl_text{
    position: absolute;
    top: 50%;
    font-size: 14px;
    background: url(../img/arrow_up.png) top center no-repeat;
    color: #ffffff;
    padding-top: 25px;
    margin: 0 5px;
}


#svg_cont {
position: relative;
    width: 360px;
height: 110px;
margin: 40vh auto 0 auto;
}
#svg-canvas {
position: relative;
    width: 360px;
height: 110px;
}
.title {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 5s linear forwards;
    -webkit-animation: draw 1s linear forwards;
    -moz-animation: draw 1s linear forwards;
    -o-animation: draw 1s linear forwards;
    font-weight: bold;
    font-family: Amatic SC;
    -inkscape-font-specification: Amatic SC Bold"
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
@-o-keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}