<div class="pageContainer">
    <div class="filter-options btn-group" ng-controller="ShuffleController">
        <button class = 'btn btn--warning'
                ng-repeat="button in buttons"
                ng-click="shuffleFilter(button.datagroup);"
                ng-class="activeDatagroup==button.datagroup ? 'active' : ''">
            {{button.title}}
        </button>
    </div>

    <div id="grid" class="row-fluid" shuffle>
        <figure class="span3 picture-item" data-groups='["photography"]'>
            <img src="http://vestride.github.io/Shuffle/img/baseball.png"/>
        </figure>
        <figure class="span6 picture-item" data-groups='["wallpaper","3d"]'>
            <img src="http://vestride.github.io/Shuffle/img/tennis-ball.png"/>
        </figure>
        <figure class="span3 picture-item" data-groups='["wallpaper","3d"]'>
            <img src="http://vestride.github.io/Shuffle/img/imac.png"/>
        </figure>
        <figure class="span3 picture-item picture-item--h2" data-groups='["graphics"]'>
            <img src="http://vestride.github.io/Shuffle/img/master-chief.png" />
        </figure>
        <figure class="span3 picture-item picture-item--h2" data-groups='["graphics"]'>
            <img src="http://vestride.github.io/Shuffle/img/es-blue.png"/>
        </figure>
        <figure class="span3 picture-item picture-item--h2" data-groups='["graphics"]'>
            <img src="http://vestride.github.io/Shuffle/img/pumpkin.png"/>
        </figure>
        <figure class="span3 picture-item picture-item--h2" data-groups='["graphics"]'>
            <img src="http://vestride.github.io/Shuffle/img/vestride-red.png"/>
        </figure>
        <figure class="span3 picture-item picture-item--h2" data-groups='["graphics"]'>
            <img src="http://vestride.github.io/Shuffle/img/newegg.png"/>
        </figure>
        <figure class="span3 picture-item picture-item--h2" data-groups='["graphics"]'>
            <img src="http://vestride.github.io/Shuffle/img/grassy-hills.png"/>
        </figure>
        <div class="span3 m-span3 shuffle__sizer"></div>
    </div>
</div>